* {
    margin: 0;
}
.outer{
    border-radius: 30px;
}
#card-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    font-weight: 800;
    margin: 20px;
    padding-top: 20px;
}
#card-mid{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    font-weight: bolder;
    font-size: x-large;
}
#card-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    font-weight: 600;
}
#hori{
    margin: 20px;
}
#bottom-head{
    color: gray;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#lower{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
#per-div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: 900;
}
#but-div{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}